[submodule "Assets/Packages/Evolunity"]
	path = Assets/Packages/Evolutex/Evolunity
	url = https://github.com/Bodix/Evolunity.git
[submodule "Assets/Packages/Toolkit.Common"]
	path = Assets/Packages/Toolkit.Common
	url = https://github.com/Bodix/Unity.Toolkit.Common.git
[submodule "Assets/Packages/Toolkit.InputSystem"]
	path = Assets/Packages/Toolkit.InputSystem
	url = https://github.com/Bodix/Unity.Toolkit.InputSystem.git
[submodule "Assets/Packages/Toolkit.Tweens"]
	path = Assets/Packages/Toolkit.Tweens
	url = https://github.com/Bodix/Unity.Toolkit.Tweens.git
[submodule "Assets/Packages/Toolkit.Resettables"]
	path = Assets/Packages/Toolkit.Resettables
	url = https://github.com/Bodix/Unity.Toolkit.Resettables.git
[submodule "Assets/Packages/MobileConsoleKit"]
	path = Assets/Packages/MobileConsoleKit
	url = https://github.com/Bodix/MobileConsoleKit.git
[submodule "Assets/Packages/Toolkit.Styles"]
	path = Assets/Packages/Toolkit.Styles
	url = https://github.com/Bodix/Unity.Toolkit.Styles.git
[submodule "Assets/Packages/Toolkit.WContainer"]
	path = Assets/Packages/Toolkit.WContainer
	url = https://github.com/Bodix/Unity.Toolkit.WContainer.git
