[submodule "Evolunity"]
	path = Assets/Packages/Evolutex/Evolunity
	url = https://github.com/Bodix/Evolunity.git

[submodule "Toolkit.Common"]
	path = Assets/Packages/Toolkit.Common
	url = https://github.com/Bodix/Unity.Toolkit.Common.git

[submodule "Toolkit.InputSystem"]
	path = Assets/Packages/Toolkit.InputSystem
	url = https://github.com/Bodix/Unity.Toolkit.InputSystem.git

[submodule "Toolkit.Tweens"]
	path = Assets/Packages/Toolkit.Tweens
	url = https://github.com/Bodix/Unity.Toolkit.Tweens.git

[submodule "Toolkit.Resettables"]
	path = Assets/Packages/Toolkit.Resettables
	url = https://github.com/Bodix/Unity.Toolkit.Resettables.git

[submodule "unity-development-tools"]
	path = Assets/Packages/unity-development-tools
	url = https://github.com/Bodix/unity-development-tools.git

[submodule "MobileConsoleKit"]
	path = Assets/Packages/MobileConsoleKit
	url = https://github.com/Bodix/MobileConsoleKit.git

[submodule "Toolkit.Styles"]
	path = Assets/Packages/Toolkit.Styles
	url = https://github.com/Bodix/Unity.Toolkit.Styles.git
